.home {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/assets/sunset.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.homewrap {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(30,30,30,0.34)
}

.homehero-ctn {
	position: absolute;
	top: 0;
	width: 100%;
}

.homehero {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	align-content: center;
	padding-top: 2em;
}

.homehero .title {
	/* Sydney Sunsets: */
	font-family: AdobeGothicStd-Bold;
	font-size: 55px;
	color: #FFFFFF;
	letter-spacing: 0.19px;
	text-align: center;
}

.homehero .button {
	/* Rectangle 3: */
	background: #FFFFFF;
	border-radius: 30px;
	width: 216px;
	height: 48px;
	display: block;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	transition: all 250ms;
	text-decoration: none;
}

.homehero .button:hover {
	background: #F07E81;
	/*border: 1px solid #FFFFFF;*/
	cursor: pointer;
}
.homehero .button:hover > span {
	color: #FFFFFF !important;
}

.homehero .button > span {
	/* Let’s chill →: */
	vertical-align: middle;
	line-height: 48px;
	opacity: 0.8;
	font-family: Helvetica;
	font-size: 24px;
	color: #646464;
	letter-spacing: 0.17px;
}



.wrap,
#map {
	height: 100vh;
	width: 100%;
}

#ui {
	width: 100%;
	height: 100px;

	position: absolute;
	top: 0;
	left: 0;

	background-image: linear-gradient(0deg, rgba(60,60,60,0.00) 0%, #3C3C3C 100%);
}

#ui h1 {
	/* Sydney Sunsets: */
font-family: AdobeGothicStd-Bold;
font-size: 40px;
color: #FFFFFF;
letter-spacing: 0.19px;
}

#ui .inner > div {
	/* Rectangle 5: */
background: #F7F7F7;
box-shadow: 0 2px 4px 0 rgba(106,106,106,0.20);
border-radius: 7px;
/* Bitmap: */
/*opacity: 0.8;*/
/*background: #000000;*/
width: 259px;
height: 45px;
}
#ui .inner > div > span {
	opacity: 0.8;
font-family: Helvetica;
font-size: 22px;
color: #000000;
letter-spacing: 0.31px;
vertical-align: middle;
text-align: middle;
}

#ui .inner {
	padding: 1em;
}


