app:
  build: .
  command: bash entrypoint.sh
  volumes:
    - .:/code
  volumes_from:
    - yarn-cache
  ports:
    - "42001:42001"
  environment:
    - NODE_ENV=production
    - PORT=42001
  tty: true

yarn-cache:
  image: busybox
  volumes:
    - /root/.yarn-cache
  environment:
    - NODE_ENV=production
  tty: true