<div class='home'>
<div class='homewrap'>
</div>
</div>

<div class='homehero-ctn'><div class='homehero'>
	<h1 class='title'>Sydney Sunsets</h1>
	<a class='button'><span>Let’s chill →</span></a>
</div></div>