<div class='wrap'>
	<div id="map"></div>
	<div id='ui'>
		<div class='inner'>
			<h1>Sydney Sunsets</h1>
			
		</div>
	</div>
</div>

<script type="text/javascript">
var SYDNEY_LNGLAT = [151.2093, -33.8688];

$(document).ready(function() {

	var $map = 'map';
// https://medium.com/@Scarysize/data-driven-raster-layer-with-mapbox-gl-bdb3b747ae22

	function setupMapboxMaps() {
		mapboxgl.accessToken = 'pk.eyJ1IjoibGlhbXplYmVkZWUiLCJhIjoiY2oyaWFmdXpxMDFlMTJwcjd4cTdieDdyMiJ9.K8da3SqjRr8_XDRxbrT1zQ';
		var map = new mapboxgl.Map({
			container: $map,
			style: 'mapbox://styles/mapbox/streets-v9',
			center: SYDNEY_LNGLAT,
			zoom: 13
		});

		map.on('load', function () {
		    // map.addSource('clouds', {
		    //     type: 'raster',
		    //     tiles: ['http://tile.openweathermap.org/map/clouds_new/{z}/{x}/{y}.png?appid=01458f9ac1bb039bc50511ad57522f92'],
		    //     tileSize: 256
		    // });
		    
		    // map.addLayer({
		    //     'id': 'cloud-layer',
		    //     'type': 'raster',
		    //     // 'type': 'fill',
		    //     'source': 'clouds',
		    //     'layout': {
		    //         'visibility': 'visible'
		    //     },
		    //     "paint": {
		    //     	"raster-opacity": 0.5,
		    //     	// "raster-contrast": 1,
		    //     	// "raster-saturation": 1,
		    //     	// "raster-brightness-min": 0.5,
		    //     	// "raster-brightness-max": 0.5

			   //      // "property": "cloudCover",
			   //      // "type": "interval",
		    //     	// "fill-color": {
		    //     	// 	"stops": [
		    //     	// 	]
		    //     	// }
		    //     }
		    // });
		});
	}

	setupMapboxMaps()

});


function initMap() {}

// https://github.com/mapnik/mapnik/wiki/RasterColorizer
// https://bl.ocks.org/lbud/ee919cb9cf265c635e2adc899b65dbbb
// https://medium.com/@Scarysize/data-driven-raster-layer-with-mapbox-gl-bdb3b747ae22
// NEED TO USE THIS


// lookup table of RGBAx10 to Pixel

// https://openlayers.org/en/latest/examples/raster.html
// For clouds
// {
    
// }
</script>





{{outlet}}
`